<div class="row">
	<div class="col-md-3">
		<div class="title">{{model.title}}</div>
		<div class="separate"></div>
		<div class="year">{{model.year}}</div>
		<div class="info">Regie: {{model.director}}</div>
		<div class="info">Text: {{model.writer}}</div>
		<div class="info">Musik: {{model.music}}</div>
	</div>
	<div class="col-md-4">
		<div class="subtitle">{{model.subtitle}}</div>
		<div class="description">
			{{{model.description}}}
		</div>
	</div>
	<div class="col-md-5">
		<div class="image" style="background-image: url({{model.prevImg}});"></div>
	</div>
</div>
{{yield}}