
<h1>DKZ Admin</h1>

<h2>Plays</h2>

{{#if playToEdit}}

<h3>New Play</h3>
<form class="form-horizontal">
	<div class="form-group">
		<label for="inputPlayTitle" class="col-sm-2 control-label">Title</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayTitle" placeholder="Title" value=playToEdit.title}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlaySubtitle" class="col-sm-2 control-label">Subtitle</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlaySubtitle" placeholder="Subtitle" value=playToEdit.subtitle}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayDescription" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			{{textarea class="form-control" rows="3" id="inputPlayDescription" placeholder="Description" value=playToEdit.description}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayYear" class="col-sm-2 control-label">Year</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayYear" placeholder="Year" value=playToEdit.year}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayDirector" class="col-sm-2 control-label">Director</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayDirector" placeholder="Director" value=playToEdit.director}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayWriter" class="col-sm-2 control-label">Writer</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayWriter" placeholder="Writer" value=playToEdit.writer}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayOrgWriter" class="col-sm-2 control-label">Original Writer</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayOrgWriter" placeholder="Original Writer" value=playToEdit.orgWriter}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayMusic" class="col-sm-2 control-label">Music</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayMusic" placeholder="Music" value=playToEdit.music}}
		</div>
	</div>
</form>
<div class="row">
	<div class="col-sm-offset-2 col-sm-2">
		<button class="btn btn-primary" {{action "save" "play"}}>Save</button>
		<button class="btn btn-primary" {{action "cancel" "play" playToEdit}}>Cancel</button>
	</div>
</div>

{{else}}
	<button class="btn btn-primary" {{action "add" "play"}}>Add Play</button>
{{/if}}

<h4>Play List</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Year</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	{{#each model.plays as |play|}}
		<tr>
			<td>{{play.title}}</td>
			<td>{{play.year}}</td>
			<td><button class="btn btn-primary" {{action "edit" "play" play}}>Edit</button></td>
			<td><button class="btn btn-danger" {{action "delete" play}}>Delete</button></td>
		</tr>
	{{/each}}
	</tbody>
</table>


<h2>Members</h2>

{{#if memberToEdit}}

<h3>New Member</h3>
<form class="form-horizontal">
	<div class="form-group">
		<label for="inputMemberName" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputMemberName" placeholder="Name" value=memberToEdit.name}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputMemberMail" class="col-sm-2 control-label">Mail</label>
		<div class="col-sm-10">
			{{input type="email" class="form-control" id="inputMemberMail" placeholder="Mail" value=memberToEdit.mail}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputMemberDescription" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			{{textarea class="form-control" rows="3" id="inputMemberDescription" placeholder="Description" value=memberToEdit.description}}
		</div>
	</div>
</form>
<div class="row">
	<div class="col-sm-offset-2 col-sm-2">
		<button class="btn btn-primary" {{action "save" "member"}}>Save</button>
		<button class="btn btn-primary" {{action "cancel" "member" memberToEdit}}>Cancel</button>
	</div>
</div>

{{else}}
	<button class="btn btn-primary" {{action "add" "member"}}>Add Member</button>
{{/if}}

<h4>Member List</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Mail</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	{{#each model.members as |member|}}
		<tr>
			<td>{{member.name}}</td>
			<td>{{member.mail}}</td>
			<td><button class="btn btn-primary" {{action "edit" "member" member}}>Edit</button></td>
			<td><button class="btn btn-danger" {{action "delete" member}}>Delete</button></td>
		</tr>
	{{/each}}
	</tbody>
</table>


<h2>Posts</h2>

{{#if postToEdit}}

<h3>New Post</h3>
<form class="form-horizontal">
	<div class="form-group">
		<label for="inputPostTitle" class="col-sm-2 control-label">Title</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPostTitle" placeholder="Title" value=postToEdit.title}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPostText" class="col-sm-2 control-label">Text</label>
		<div class="col-sm-10">
			{{ medium-content-editable value=postToEdit.text }}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPostAuthor" class="col-sm-2 control-label">Author</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPostAuthor" placeholder="Author" value=postToEdit.author}}
		</div>
	</div>

</form>
<div class="row">
	<div class="col-sm-offset-2 col-sm-2">
		<button class="btn btn-primary" {{action "save" "post"}}>Save</button>
		<button class="btn btn-primary" {{action "cancel" "post" postToEdit}}>Cancel</button>
	</div>
</div>

{{else}}
	<button class="btn btn-primary" {{action "add" "post"}}>Add Post</button>
{{/if}}

<h4>Post List</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	{{#each model.posts as |post|}}
		<tr>
			<td>{{post.title}}</td>
			<td>{{post.author}}</td>
			<td><button class="btn btn-primary" {{action "edit" "post" post}}>Edit</button></td>
			<td><button class="btn btn-danger" {{action "delete" post}}>Delete</button></td>
		</tr>
	{{/each}}
	</tbody>
</table>


{{outlet}}

