
<h1>Admin</h1>

<h2>Plays</h2>
<h3>New Play</h3>
<form class="form-horizontal">
	<div class="form-group">
		<label for="inputPlayTitle" class="col-sm-2 control-label">Title</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayTitle" placeholder="Title" value=nplay.title}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlaySubtitle" class="col-sm-2 control-label">Subtitle</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlaySubtitle" placeholder="Subtitle" value=nplay.subtitle}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayDescription" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			{{textarea class="form-control" rows="3" id="inputPlayDescription" placeholder="Description" value=nplay.description}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayYear" class="col-sm-2 control-label">Year</label>
		<div class="col-sm-10">
			{{input type="date" class="form-control" id="inputPlayYear" placeholder="Year" value=nplay.year}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayLocation" class="col-sm-2 control-label">Location</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayLocation" placeholder="Location" value=nplay.location}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayPicture" class="col-sm-2 control-label">Picture</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayPicture" placeholder="Picture" value=nplay.picture}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayDirector" class="col-sm-2 control-label">Director</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayDirector" placeholder="Director" value=nplay.director}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayWriter" class="col-sm-2 control-label">Writer</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayWriter" placeholder="Writer" value=nplay.writer}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayOrgWriter" class="col-sm-2 control-label">Original Writer</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayOrgWriter" placeholder="Original Writer" value=nplay.orgWriter}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayMusic" class="col-sm-2 control-label">Music</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayMusic" placeholder="Music" value=nplay.music}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayActors" class="col-sm-2 control-label">Actors</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayActors" placeholder="Actors" value=nplay.actors}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayAssistant" class="col-sm-2 control-label">Assistant</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayAssistant" placeholder="Assistant" value=nplay.assistant}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayCostume" class="col-sm-2 control-label">Costume</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayCostume" placeholder="Costume" value=nplay.costume}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayMakeup" class="col-sm-2 control-label">Makeup</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayMakeup" placeholder="Makeup" value=nplay.makeup}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayBuild" class="col-sm-2 control-label">Build</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayBuild" placeholder="Build" value=nplay.build}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayTech" class="col-sm-2 control-label">Tech</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayTech" placeholder="Tech" value=nplay.tech}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayDesign" class="col-sm-2 control-label">Design</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayDesign" placeholder="Design" value=nplay.design}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayHelper" class="col-sm-2 control-label">Helper</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayHelper" placeholder="Helper" value=nplay.helper}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlaySales" class="col-sm-2 control-label">Sales</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlaySales" placeholder="Sales" value=nplay.sales}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayEveningSales" class="col-sm-2 control-label">Evening Sales</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayEveningSales" placeholder="Evening Sales" value=nplay.eveningSales}}
		</div>
	</div>
	<div class="form-group">
		<label for="inputPlayPdfLink" class="col-sm-2 control-label">PDF Link</label>
		<div class="col-sm-10">
			{{input type="text" class="form-control" id="inputPlayPdfLink" placeholder="PDF Link" value=nplay.pdfLink}}
		</div>
	</div>
</form>
<div class="row">
	<div class="col-sm-offset-2 col-sm-2">
		<button type="submit" class="btn btn-primary" {{action "savePlay"}}>Save</button>
	</div>
</div>

<h3>All Plays</h3>
<ul>
	{{#each model.plays as |play|}}
		<li>{{ play.title }} </li>
	{{/each}}
</ul>


<button type="submit" class="btn btn-primary" {{action "testAction"}}>Test Action</button>


{{outlet}}

