<!-- Cheap shot. TODO: use container and columns for header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				{{#link-to 'index'}}<div class="logo"></div>{{/link-to}}
			</div>
			<div class="nav-element col-md-2 col-sm-2 col-xs-12">Produktionen im Überblick</div>
			<div class="nav-element col-md-2 col-sm-2 col-xs-12">Alles zur Kulisse Zug</div>
			<div class="nav-element col-md-2 col-sm-2 col-xs-12">Gönner und Sponsoren</div>
		</div>
	</div>
</header>


<div class="container">
	<div class="content-wrapper">
		{{outlet}}
	</div>
</div>

<footer>
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        <a {{action 'logout'}}>Logout</a>
        <a {{action 'printAuth'}}>Print</a>
        {{#if session.isAuthenticated}}

          {{#link-to 'admin'}}ADMIN{{/link-to}}
        {{else}}
          <a {{action 'sessionRequiresAuthentication'}}>Login</a>
        {{/if}}

        Session: {{ session.isAuthenticated }}
      </div>
    </div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-2 cold-sm-offset-2">
				{{#link-to 'index'}}<div class="logo"></div>{{/link-to}}
			</div>
			<div class="nav-element col-md-1 col-sm-1 col-xs-12">Produktionen im Überblick</div>
			<div class="nav-element col-md-1 col-sm-1 col-xs-12">Alles zur Kulisse Zug</div>
			<div class="nav-element col-md-1 col-sm-1 col-xs-12">Gönner und Sponsoren</div>
		</div>
	</div>
</footer>
