<h2>News</h2>
{{post-item model=newestPost action="goToPost"}}
<div class="index-breaker"></div>
<div class="index-play-gallery">
	{{play-preview model=play}}
	<div class="action prev" {{action 'nextPlay' true}}>
		P
	</div>
	<div class="action next" {{action 'nextPlay' false}}>
		N
	</div>
</div>
{{outlet}}