<h2>News</h2>
{{post-item model=newestPost action="goToPost"}}
<div class="index-breaker"></div>
<div class="index-gallery">
	{{play-preview model=play}}
	<div class="action prev" {{action 'nextPlay' true}}>
		<i class="material-icons arrow">arrow_back</i>
	</div>
	<div class="action next" {{action 'nextPlay' false}}>
		<i class="material-icons arrow">arrow_forward</i>
	</div>
</div>
<div class="index-breaker"></div>
<div class="index-history-wrapper">
	<div class="row">
		<div class="col-md-7">
			<div class="index-gallery">
				{{history-preview model=history}}
				<div class="action prev" {{action 'nextHistory' true}}>
					<i class="material-icons arrow">arrow_back</i>
				</div>
				<div class="action next" {{action 'nextHistory' false}}>
					<i class="material-icons arrow">arrow_forward</i>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="index-aboutus index-ttb">
				<div class="title">Über den Verein</div>
				<div class="text">
					„Die Kulisse Zug“ ist ein Laientheaterverein, der seit fünfzig Jahren das Zuger Kulturleben mit aussergewöhnlichen Theateraufführungen belebt. Diese Tradition wollen wir weiterführen.
				</div>
				{{link-to "Meht zum Verein" "aboutus" class="btn dkz-button"}}
			</div>
		</div>
	</div>
</div>
<div class="index-breaker"></div>
<div class="index-sponsor-wrapper">
	<div class="row">
		<div class="col-md-6">
			<div class="index-sponsor index-ttb">
				<div class="title">Gönner & Sponsoren</div>
				<div class="text">
					Die Kulisse Zug wird in erste Linie von den aktiven Mitgliedern getragen. Ohne deren Einsatz ist eine Theaterproduktion kaum zu realisieren. Zu denen die auf der Bühne spielen braucht es auch Mitspieler wie die öffentliche Hand, Unternehmen aus der Umgebung oder private Gönner die uns helfen die Produktionen umzusetzen.
				</div>
				{{link-to "Meht darüber erfahren" "sponsor" class="btn dkz-button"}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="index-sponsor-list">
			</div>
		</div>
	</div>
</div>
<div class="index-breaker"></div>
<div class="index-contactus-wrapper">
	<div class="row">
		<div class="cold-md-12">
			<h2>Interessiert ein Teil von uns zu werden?</h2>
			{{#postcard-form action="saveFeedback"}}
				Haben Wir dein Interesse geweckt? Hast du Interesse Teil einer Produktion zu werden? Melde dich doch bei uns, wir suchen dauernd neue Schauspieler oder Gönner die uns Tatkräftig unterstützen. Das die Kulisse Zug Team würde sich freuen von dir zu hören.
			{{/postcard-form}}
		</div>
	</div>
</div>
{{outlet}}